@font-face {
  font-family: 'TmonMonsori';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'TmonMonsori';
}
#app {
  width: 650px;
  height: 835px;
  margin: 0 auto;
  background-color: black;
  padding: 1rem;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
}
